.not-found {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 60px);
  font-size: 40px;
  font-weight: bold;
  color: #333;
  text-align: center;
}
.notfound-home {
	text-decoration: none;
	color: rgb(8, 79, 45);
}
@media (max-width: 575px) {
  .not-found {
    font-size: 36px;
  }
}
